<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/static/404.css">
</head>
<body>
    <div class="noise"></div>
    <div class="overlay"></div>
    <div class="terminal">
      <h1>Error <span class="errorcode">404</span></h1>
      <p class="output">Shortened URL not found in database!</p>
      <p class="output">Try to <a href="/makeShortenedUrl">create a shortened URL</a>.</p>
      <p class="output">Sorry!</p>
    </div>
</body>
</html>